<!DOCTYPE html>
<html>
<head>
<title>Sign Up</title>
</head>
<body>

<form method = "post">
	<input type="text" size="30" placeholder="Username" name="username"><br />
	<input type="password" size="30" placeholder="Password" name="password"><br />
	<input type="submit" value="Sign Up" name="signUp">
</form>

</body>

</html>
